<container class="main-section">
  <row>
    <columns class="tv-vision">
      <img src="https://i.imgur.com/IiFfOk9.png" />
    </columns>
  </row>

  <row>
    <columns class="text-area">
      <row>
        <columns class="text">
          It’s time you get the TV you deserve. TVision has no hidden fees and the price you pay today won’t change tomorrow. All backed up by the best care in wireless.
        </columns>
      </row>
      <row>
        <columns class="button">
          <center>
            <button href="https://www.t-mobile.com/tv/freedom-from-satellite">Switch today</button>
          </center>
        </columns>
      </row>
      <row>
        <columns class="number">
          <center>
            <a href="tel:877-297-3994">Or call 877-297-3994</a>
          </center>

        </columns>
      </row>
      <row>
        <columns class="disclaimer">
          Eligible home connectivity required. Check to confirm service and channels in your area.
        </columns>
      </row>
    </columns>
  </row>
</container>

<container class="offer-section">
  <img src="https://i.imgur.com/UUXau44.png" />
</container>

<container class="tvbox-section">
  <columns>
    <row>
      Ditch satellite for good and we’ll pay off your early termination fees—up to $500 via prepaid card. Allow 10 weeks.
    </row>
  </columns>

</container>

<container class="bottom-img-section">
  <img src="https://i.imgur.com/7u2ZAnG.gif"/>
</container>
